@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$bg-purple: rgb(108, 2, 195);
$bg-indigo: rgb(114, 0, 190);
$bg-pink: rgb(255, 0, 255);

body {
  font-family: "Roboto", "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before,
  &::after {
    content: "";
    position: fixed;
    height: 35rem;
    width: 100%;
    border-radius: 3rem;
    transform: rotate(12.5deg);
    background: $bg-purple;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: -1;
  }

  &::before {
    top: -15rem;
    left: 0;
    background: linear-gradient(to bottom right, $bg-indigo, $bg-purple);
  }

  &::after {
    bottom: -45%;
    left: 15%;
    background: linear-gradient(to bottom right, $bg-purple 25%, $bg-pink);
    z-index: -1;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  display: list-item;
  list-style-position: inside;
}

h3 {
  font-weight: bold;
}

a {
  color: rgb(0, 3, 153);
}
